.pesanan-saya .vector-3 {
  width: 28.5px;
  height: 20.6px;
}
.pesanan-saya .fa-6-solidarrow-up {
  transform: rotate(-90.188deg);
  margin: 2px 13.4px 1.4px 0;
  display: flex;
  width: 28.5px;
  height: 20.6px;
  box-sizing: border-box;
}
.pesanan-saya .pesanan-saya-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.pesanan-saya .container-5 {
  margin: 0 2px 33px 2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pesanan-saya .rectangle-142 {
  border-radius: 10px;
  background: url('../assets/images/rectangle_142.png') 50% / cover no-repeat;
  margin: 0 13px 4px 0;
  width: 66px;
  height: 82px;
}
.pesanan-saya .kripik-singkong {
  margin: 0 18.7px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.pesanan-saya .barang {
  margin-bottom: 37px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.pesanan-saya .rp-2000000 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pesanan-saya .container-6 {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pesanan-saya .group-130 {
  border-radius: 10px;
  margin: 0 2px 33px 2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pesanan-saya .lokasi-paket-saya-saai-ini {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .no-resi {
  margin-right: 8.5px;
  width: 226.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .id-12345678-salin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.id-12345678-salin-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  color: #4CAF50;
}
.pesanan-saya .container-2 {
  margin: 0 7.9px 11px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 15.9px);
  box-sizing: border-box;
}
.pesanan-saya .line-32 {
  background: #000000;
  margin-bottom: 25px;
  width: 377px;
  height: 1px;
}
.pesanan-saya .mei-0700 {
  margin-right: 6.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .line-33 {
  background: #000000;
  transform: rotate(89.579deg);
  margin: 5px 25px 28px 0;
  width: 1px;
  height: 1px;
}
.pesanan-saya .paket-telah-diterima-hub-pengiriman {
  margin: 5px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pesanan-saya .vector {
  width: 20px;
  height: 20px;
}
.pesanan-saya .material-symbolscircle {
  position: absolute;
  left: 43px;
  top: 2px;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.pesanan-saya .container-1 {
  position: relative;
  margin: 0 8px 21px 8px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.pesanan-saya .mei-1200 {
  margin-right: 2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .vector-2 {
  margin: 2px 19px 19px 0;
  width: 13px;
  height: 13px;
}
.pesanan-saya .paket-dalam-perjalanan {
  margin: 3px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .container-3 {
  margin: 0 8px 21px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pesanan-saya .mei-1400 {
  margin-right: 2.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .vector-1 {
  margin: 4px 18px 17px 0;
  width: 13px;
  height: 13px;
}
.pesanan-saya .paket-telah-diterima-di-pusat-sortir {
  margin: 3px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.pesanan-saya .container-4 {
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pesanan-saya .container-7 {
  border-radius: 5px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 56px 1px;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.pesanan-saya {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 12px 18px 54px 12px;
  box-sizing: border-box;
}
