.pilihan-kurir .rectangle-143 {
  border: 1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.pilihan-kurir .pilih-kurir {
  position: relative;
  margin-bottom: 18px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .vector-1 {
  width: 32px;
  height: 12.3px;
}
.pilihan-kurir .simple-iconsgrab {
  margin: 2.8px 0 3.8px 0;
  display: flex;
  width: 32px;
  height: 12.3px;
  box-sizing: border-box;
}
.pilihan-kurir .grab {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .container-4 {
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 9px 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.pilihan-kurir .vector {
  width: 24.7px;
  height: 24.7px;
}
.pilihan-kurir .arcticonsindriver {
  display: flex;
  width: 24.7px;
  height: 24.7px;
  box-sizing: border-box;
}
.pilihan-kurir .indriver {
  margin: 2.3px 0 3.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .container-2 {
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.7px 0 6.7px 8.7px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.pilihan-kurir .vector-2 {
  width: 32px;
  height: 30.1px;
}
.pilihan-kurir .simple-iconsgojek {
  display: flex;
  width: 32px;
  height: 30.1px;
  box-sizing: border-box;
}
.pilihan-kurir .gojek {
  margin: 5.1px 0 6.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .container-5 {
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.9px 0 3.9px 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.pilihan-kurir .arcticonsmaxim {
  width: 32px;
  height: 32px;
}
.pilihan-kurir .maxim {
  margin: 6px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .container-1 {
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 18px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 0 3px 4px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.pilihan-kurir .jnt-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .jnt {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .container-3 {
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 0 10px 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.pilihan-kurir .jne-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .jne {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.pilihan-kurir .container {
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 9px 5px;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.pilihan-kurir {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 23px 29px 14px 30px;
  box-sizing: border-box;
}
