.tampilan-awal .rectangle-90 {
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.tampilan-awal .vector {
  width: 24px;
  height: 26.6px;
}
.tampilan-awal .fluentfood-grains-24-regular {
  margin: 0 15px 2.7px 0;
  display: flex;
  width: 24px;
  height: 26.6px;
  box-sizing: border-box;
}
.tampilan-awal .snack-medan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.tampilan-awal .group-28 {
  margin-top: 0.3px;
  display: flex;
  box-sizing: border-box;
}
.tampilan-awal .container {
  position: relative;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tampilan-awal .home {
  position: relative;
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-awal .shop {
  position: relative;
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-awal .product {
  position: relative;
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-awal .vector-1 {
  width: 21.3px;
  height: 21.3px;
}
.tampilan-awal .mynauisearch {
  margin-bottom: 1.3px;
  display: flex;
  width: 21.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-awal .vector-2 {
  width: 21.3px;
  height: 21.3px;
}
.tampilan-awal .mdiaccount-outline {
  margin-bottom: 1.3px;
  display: flex;
  width: 21.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-awal .group {
  width: 20.5px;
  height: 22.7px;
}
.tampilan-awal .lets-iconsbasket-alt-3 {
  display: flex;
  width: 20.5px;
  height: 22.7px;
  box-sizing: border-box;
}
.tampilan-awal .vector-8 {
  width: 24px;
  height: 16px;
}
.tampilan-awal .iconamoonmenu-burger-horizontal {
  margin: 2.7px 0 4px 0;
  display: flex;
  width: 24px;
  height: 16px;
  box-sizing: border-box;
}
.tampilan-awal .container-2 {
  position: relative;
  margin-top: 10.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 184.7px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-awal .container-5 {
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.7px 36px 24px 47px;
  width: 1280px;
  box-sizing: border-box;
}
.tampilan-awal .new-product {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-awal .produk-terbaru-edisi-bulan-juni-2024 {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Limelight';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.tampilan-awal .beli-sekarang {
  margin-right: 10.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.tampilan-awal .vector-9 {
  width: 11.9px;
  height: 9.8px;
}
.tampilan-awal .akar-iconsarrow-left {
  transform: rotate(179.98deg);
  margin: 5.5px 0 3.7px 0;
  display: flex;
  width: 11.9px;
  height: 9.8px;
  box-sizing: border-box;
}
.tampilan-awal .container-4 {
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 12px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 12px 17.2px 13px 12px;
  width: fit-content;
  box-sizing: border-box;
}
.tampilan-awal .container-3 {
  margin: 129px 103.6px 163px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-awal .screenshot-20240515183144-removebg-preview-1 {
  background: url('../assets/images/screenshot_20240515183144_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 0 14px 0px 0;
  width: 486px;
  height: 487px;
}
.tampilan-awal .eiarrow-up {
  transform: rotate(179.956deg);
  margin-top: 437px;
  width: 50px;
  height: 50px;
}
.tampilan-awal .container-1 {
  margin: 0 83px 0 59px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.tampilan-awal {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 112px;
  width: 1280px;
  box-sizing: border-box;
}
