.tampilan-produk-terpopuler .vector-48 {
  width: 24px;
  height: 26.6px;
}
.tampilan-produk-terpopuler .fluentfood-grains-24-regular {
  margin: 0 15px 2.7px 0;
  display: flex;
  width: 24px;
  height: 26.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .snack-medan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.tampilan-produk-terpopuler .group-28 {
  margin-top: 0.3px;
  display: flex;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-10 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .home {
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-produk-terpopuler .shop {
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-produk-terpopuler .product {
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-produk-terpopuler .vector-49 {
  width: 21.3px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .mynauisearch {
  margin-bottom: 1.3px;
  display: flex;
  width: 21.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-50 {
  width: 21.3px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .mdiaccount-outline {
  margin-bottom: 1.3px;
  display: flex;
  width: 21.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .group {
  width: 20.5px;
  height: 22.7px;
}
.tampilan-produk-terpopuler .lets-iconsbasket-alt-3 {
  display: flex;
  width: 20.5px;
  height: 22.7px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-56 {
  width: 24px;
  height: 16px;
}
.tampilan-produk-terpopuler .iconamoonmenu-burger-horizontal {
  margin: 2.7px 0 4px 0;
  display: flex;
  width: 24px;
  height: 16px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-5 {
  margin-top: 10.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 184.7px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .group-53 {
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.7px 36px 24px 47px;
  width: 1280px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-38 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2438 {
  position: absolute;
  left: 17.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-39 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2439 {
  position: absolute;
  left: 43.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-40 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2440 {
  position: absolute;
  left: 69.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-41 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2441 {
  position: absolute;
  left: 95.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-67 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-10 {
  position: absolute;
  left: 122px;
  bottom: 80.7px;
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-42 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2442 {
  position: absolute;
  left: 316.8px;
  bottom: 80.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-43 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2443 {
  position: absolute;
  left: 342.8px;
  bottom: 80.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-44 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2444 {
  position: absolute;
  left: 368.8px;
  bottom: 80.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-45 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2445 {
  position: absolute;
  left: 394.8px;
  bottom: 80.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-68 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-11 {
  position: absolute;
  left: 421px;
  bottom: 79.7px;
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-46 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2446 {
  position: absolute;
  right: 533.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-47 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2447 {
  position: absolute;
  right: 507.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-24 {
  position: absolute;
  right: 481.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-1 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-241 {
  position: absolute;
  right: 455.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-57 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half {
  position: absolute;
  right: 428px;
  bottom: 80.7px;
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-2 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-242 {
  position: absolute;
  right: 221.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-3 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-243 {
  position: absolute;
  right: 195.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-4 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-244 {
  position: absolute;
  right: 169.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-5 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-245 {
  position: absolute;
  right: 143.8px;
  bottom: 81.3px;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-58 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-1 {
  position: absolute;
  right: 116px;
  bottom: 80.7px;
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .rp-3500000 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-2500000 {
  position: absolute;
  left: 316px;
  bottom: 20px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-1800000 {
  position: absolute;
  right: 479.5px;
  bottom: 35px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-1500000 {
  position: absolute;
  right: 168.7px;
  bottom: 35px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .kastengel-keju {
  position: absolute;
  left: 18px;
  bottom: 57px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .kastengel-keju-1 {
  position: absolute;
  left: 316px;
  bottom: 57px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .pudding-cup {
  position: absolute;
  right: 171.9px;
  bottom: 57px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .mochi-bites {
  position: absolute;
  right: 490.9px;
  bottom: 57px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .produk-terpopuler-bulan-ini {
  margin: 0 0 36px 25.3px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
.produk-terpopuler-bulan-ini-sub1 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #008DDA;
}
.tampilan-produk-terpopuler .rectangle-108 {
  background: url('../assets/images/rectangle_108.jpeg') 50% / cover no-repeat;
  margin-right: 89px;
  width: 210px;
  height: 250px;
}
.tampilan-produk-terpopuler .rectangle-104 {
  background: url('../assets/images/rectangle_104.jpeg') 50% / cover no-repeat;
  margin-right: 104px;
  width: 210px;
  height: 250px;
}
.tampilan-produk-terpopuler .rectangle-113 {
  background: url('../assets/images/rectangle_113.jpeg') 50% / cover no-repeat;
  margin: 2px 100px 0 0;
  width: 210px;
  height: 248px;
}
.tampilan-produk-terpopuler .rectangle-105 {
  background: url('../assets/images/rectangle_105.jpeg') 50% / cover no-repeat;
  margin-top: 2px;
  width: 210px;
  height: 248px;
}
.tampilan-produk-terpopuler .container-2 {
  margin: 0 0 5px 4px;
  display: flex;
  flex-direction: row;
  width: 1133px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-23 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2423 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-24 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2424 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-25 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2425 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-26 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2426 {
  margin: 0.5px 3.8px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-63 {
  width: 24px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .bistar-half-6 {
  display: flex;
  width: 24px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .group-56 {
  margin-top: 2.8px;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-17 {
  width: 22.4px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2417 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-18 {
  width: 22.4px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2418 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-19 {
  width: 22.4px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2419 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-20 {
  width: 22.4px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2420 {
  margin: 0.5px 3.8px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-61 {
  width: 24px;
  height: 22.4px;
}
.tampilan-produk-terpopuler .bistar-half-4 {
  display: flex;
  width: 24px;
  height: 22.4px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .group-55 {
  margin-bottom: 1.6px;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-30 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2430 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-31 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2431 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-32 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2432 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-33 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2433 {
  margin: 0.5px 3.8px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-65 {
  width: 24px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .bistar-half-8 {
  display: flex;
  width: 24px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .group-58 {
  margin: 1.8px 0 0.9px 0;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-11 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2411 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-12 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2412 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-13 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2413 {
  margin: 0.5px 3.6px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-14 {
  width: 22.4px;
  height: 20.2px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2414 {
  margin: 0.5px 3.8px 0.6px 0;
  display: flex;
  width: 22.4px;
  height: 20.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-60 {
  width: 24px;
  height: 21.3px;
}
.tampilan-produk-terpopuler .bistar-half-3 {
  display: flex;
  width: 24px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .group-54 {
  margin: 0.9px 0 1.9px 0;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-9 {
  margin: 0 81px 5.9px 4.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1051.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .basreng-daun-jeruk-pedas {
  margin-right: 7.5px;
  width: 295.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .kripik-buah-campur {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .sus-buah {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .souffle-pancake {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .container {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1018.8px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .rp-4500000 {
  margin: 0 7.5px 2px 0;
  display: inline-block;
  width: 295.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-6000000 {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-3400000 {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-2800000 {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .container-4 {
  margin-bottom: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1006.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .rectangle-110 {
  background: url('../assets/images/rectangle_110.jpeg') 50% / cover no-repeat;
  margin-right: 89px;
  width: 210px;
  height: 249px;
}
.tampilan-produk-terpopuler .rectangle-102 {
  background: url('../assets/images/rectangle_102.jpeg') 50% / cover no-repeat;
  margin-right: 102px;
  width: 210px;
  height: 249px;
}
.tampilan-produk-terpopuler .rectangle-114 {
  background: url('../assets/images/rectangle_114.jpeg') 50% / cover no-repeat;
  margin-right: 102px;
  width: 210px;
  height: 249px;
}
.tampilan-produk-terpopuler .rectangle-101 {
  background: url('../assets/images/rectangle_101.jpeg') 50% / cover no-repeat;
  margin-top: 2px;
  width: 210px;
  height: 247px;
}
.tampilan-produk-terpopuler .container-13 {
  margin: 0 4px 6.7px 0;
  display: flex;
  flex-direction: row;
  width: 1133px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-35 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2435 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-16 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2416 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-36 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2436 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-27 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2427 {
  margin: 0.5px 3.8px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-62 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-5 {
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-6 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-29 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2429 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-37 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2437 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-22 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2422 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-15 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2415 {
  margin: 0.5px 3.8px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-66 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-9 {
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-14 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-10 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2410 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-21 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2421 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-34 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2434 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-9 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-249 {
  margin: 0.5px 3.8px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-64 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-7 {
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-3 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-8 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-248 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-7 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-247 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-28 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-2428 {
  margin: 0.5px 3.6px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-6 {
  width: 22.4px;
  height: 20.5px;
}
.tampilan-produk-terpopuler .octiconstar-fill-246 {
  margin: 0.5px 3.8px 0.5px 0;
  display: flex;
  width: 22.4px;
  height: 20.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .vector-59 {
  width: 24px;
  height: 21.6px;
}
.tampilan-produk-terpopuler .bistar-half-2 {
  display: flex;
  width: 24px;
  height: 21.6px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-7 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  width: 128.2px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-1 {
  margin: 0 0.8px 6.7px 0.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1051.2px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .kastengel-keju-2 {
  margin-right: 7.5px;
  width: 290.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .dessert-box-oreo {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .mochi-bites-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .pudding-cup-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .container-11 {
  margin: 0 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 995.1px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .rp-5000000 {
  margin: 6px 7.5px 0 0;
  display: inline-block;
  width: 291.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-2700000 {
  margin: 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-25000001 {
  margin: 1px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .rp-18000001 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.tampilan-produk-terpopuler .container-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1002.5px;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .container-12 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 31px 37px 51px 11px;
  height: 100%;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .frame-4 {
  position: relative;
  margin: 0 48px 149px 47px;
  padding: 804px 17px 36px 17px;
  width: fit-content;
  box-sizing: border-box;
}
.tampilan-produk-terpopuler .rectangle-131 {
  background: #000000;
  align-self: flex-start;
  width: 765px;
  height: 524px;
}
.tampilan-produk-terpopuler {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1280px;
  box-sizing: border-box;
}
