.tampilan-bayar-mandiri .total-tagihan-rp-5000000 {
  margin: 0 20px 14px 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}
.tampilan-bayar-mandiri .line-13 {
  background: #000000;
  margin-bottom: 9px;
  width: 446px;
  height: 1px;
}
.tampilan-bayar-mandiri .transfer {
  margin: 0 21px 14px 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.tampilan-bayar-mandiri .bank-tujuan {
  margin: 0 21px 11px 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #8E8D8D;
}
.tampilan-bayar-mandiri .mandiri {
  margin-right: 9.5px;
  width: 263.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-bayar-mandiri .vector {
  width: 12.5px;
  height: 9.4px;
}
.tampilan-bayar-mandiri .bxsup-arrow {
  transform: rotate(179.941deg);
  margin: 5.1px 0 4.5px 0;
  display: flex;
  width: 12.5px;
  height: 9.4px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .container-4 {
  margin: 0 21px 0px 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 285.8px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .line-14 {
  background: #8E8D8D;
  margin: 0 21px 11px 21px;
  align-self: flex-start;
  width: 287px;
  height: 1px;
}
.tampilan-bayar-mandiri .informasi-rekening-pengirim {
  margin: 0 20px 22px 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  color: #8E8D8D;
}
.tampilan-bayar-mandiri .nama-pemilik-rekening {
  margin: 0 6.5px 1px 0;
  display: inline-block;
  width: 206.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  color: #8E8D8D;
}
.tampilan-bayar-mandiri .nomor-rekening {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  color: #8E8D8D;
}
.tampilan-bayar-mandiri .container-5 {
  margin: 0 20px 4px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 298.9px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .sirhan {
  margin: 0 6.5px 2px 0;
  display: inline-block;
  width: 206.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  color: #000000;
}
.tampilan-bayar-mandiri .container {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  color: #000000;
}
.tampilan-bayar-mandiri .container-1 {
  margin: 0 20px 3px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 263.8px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .line-15 {
  background: #8E8D8D;
  width: 121px;
  height: 1px;
}
.tampilan-bayar-mandiri .line-16 {
  background: #8E8D8D;
  width: 83px;
  height: 1px;
}
.tampilan-bayar-mandiri .container {
  margin: 0 20px 29px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 296px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .vector-1 {
  width: 15.8px;
  height: 14.3px;
}
.tampilan-bayar-mandiri .icbaseline-check-box {
  margin: 0.4px 4.6px 0 0;
  display: flex;
  width: 15.8px;
  height: 14.3px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .simpan-nomor-rekening {
  margin-bottom: 1.6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  color: #8E8D8D;
}
.tampilan-bayar-mandiri .container-3 {
  margin: 2px 0 13.4px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .bayar-sekarang {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}
.tampilan-bayar-mandiri .container-6 {
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 6px 8.8px 7px 14px;
  box-sizing: border-box;
}
.tampilan-bayar-mandiri .container-2 {
  margin: 0 20px 0 23.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 43.6px);
  box-sizing: border-box;
}
.tampilan-bayar-mandiri {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  box-sizing: border-box;
}
