.tampilan-chat-seller .vector-14 {
  width: 24px;
  height: 26.6px;
}
.tampilan-chat-seller .fluentfood-grains-24-regular {
  margin: 0 15px 2.7px 0;
  display: flex;
  width: 24px;
  height: 26.6px;
  box-sizing: border-box;
}
.tampilan-chat-seller .snack-medan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.tampilan-chat-seller .group-28 {
  margin-top: 0.3px;
  display: flex;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-11 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tampilan-chat-seller .home {
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-chat-seller .shop {
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-chat-seller .product {
  margin: 5.3px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tampilan-chat-seller .vector-6 {
  width: 21.3px;
  height: 21.3px;
}
.tampilan-chat-seller .mynauisearch {
  margin-bottom: 1.3px;
  display: flex;
  width: 21.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-chat-seller .vector-7 {
  width: 21.3px;
  height: 21.3px;
}
.tampilan-chat-seller .mdiaccount-outline {
  margin-bottom: 1.3px;
  display: flex;
  width: 21.3px;
  height: 21.3px;
  box-sizing: border-box;
}
.tampilan-chat-seller .group {
  width: 20.5px;
  height: 22.7px;
}
.tampilan-chat-seller .lets-iconsbasket-alt-3 {
  display: flex;
  width: 20.5px;
  height: 22.7px;
  box-sizing: border-box;
}
.tampilan-chat-seller .vector-13 {
  width: 24px;
  height: 16px;
}
.tampilan-chat-seller .iconamoonmenu-burger-horizontal {
  margin: 2.7px 0 4px 0;
  display: flex;
  width: 24px;
  height: 16px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-13 {
  margin-top: 10.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 184.7px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-10 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1197px;
  box-sizing: border-box;
}
.tampilan-chat-seller .line-5 {
  background: #AFAFAF;
  transform: rotate(89.909deg);
  margin-right: 318px;
  width: 1px;
  height: 1px;
}
.tampilan-chat-seller .group-53 {
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20.7px 36px 0 47px;
  width: 1280px;
  box-sizing: border-box;
}
.tampilan-chat-seller .vector-5 {
  transform: rotate(-90.056deg);
  margin: 0 2px 14px 2px;
  align-self: flex-start;
  width: 17.2px;
  height: 12px;
}
.tampilan-chat-seller .chat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.tampilan-chat-seller .container-29 {
  margin: 7px 0 2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-12 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_12.png') 50% / cover no-repeat;
  margin-right: 13px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .irene-estelle-1 {
  margin: 8px 0 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .container-15 {
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px 13px;
  width: 793px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-27 {
  margin: 0 0 10px 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1237px;
  box-sizing: border-box;
}
.tampilan-chat-seller .vector-15 {
  width: 19.1px;
  height: 19.1px;
}
.tampilan-chat-seller .mingcutesearch-line {
  margin-right: 3.9px;
  display: flex;
  width: 19.1px;
  height: 19.1px;
  box-sizing: border-box;
}
.tampilan-chat-seller .cari-pengguna {
  margin-bottom: 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .container-20 {
  border-radius: 50px;
  border: 1px solid #AFAFAF;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 12px 0 16.9px 37px;
  width: 418px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container {
  margin: 1px 0 29px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.tampilan-chat-seller .container-6 {
  margin: 0 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 893.2px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-6 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_12.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .irene-estelle {
  margin: 5px 0 30px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .container-2 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  padding: 11px 0 10px 11px;
  width: 418px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-7 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_7.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .jennie-ruby {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .berapa-lama-kira-kira-pengirimannya-ke-luar-medan-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-24 {
  margin: 5px 0 13px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-5 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  padding: 11px 0 10px 11px;
  width: 418px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-8 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_8.jpeg') 50% / cover no-repeat;
  margin-right: 11px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .wendy-auroranna {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .minimal-order-dari-katengel-sama-puding-berapa-ya-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-21 {
  margin: 5px 0 13px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-18 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  padding: 11px 0 10px 11px;
  width: 418px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-9 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_9.jpeg') 50% / cover no-repeat;
  margin-right: 11px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .yoona-gracelle {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .kak-bisa-pesan-setengah-kilo-rasa-original-setengah-kilo-coklat-gak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-19 {
  margin: 5px 0 12px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-9 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 11px 16.9px 10px 11px;
  width: fit-content;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-1 {
  margin: 12px 46px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.tampilan-chat-seller .halo-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .group-128 {
  border-radius: 5px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 3px 97px 3px;
  display: flex;
  align-self: flex-start;
  padding: 12px 7.2px 11px 7px;
  box-sizing: border-box;
}
.tampilan-chat-seller .hi-kak-mau-pesan-souffle-pancake-snack-sayur-dan-dessert-coklat-per-masing-masing-jenis-30-ya-kak-kalo-boleh-kirim-secepatnya-kak-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-30 {
  border-radius: 10px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 87px;
  display: flex;
  padding: 17px 3.9px 12px 10px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ouh-oke-kak-bungkus-aja-kak-tambahan-sus-buahnya-kak-15-kotak-aja-ya-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-32 {
  border-radius: 10px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  align-self: flex-start;
  padding: 9px 10.8px 8px 10px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-17 {
  margin: 0 107px 5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .halo-selamat-datang-di-toko-snack-medan-saya-di-sini-untuk-membantu-anda-apa-yang-bisa-saya-bantu-hari-ini-apakah-anda-mencari-sesuatu-secara-spesifik {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .group-126 {
  border-radius: 10px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 90px;
  display: flex;
  padding: 9px 15.3px 8px 6px;
  box-sizing: border-box;
}
.tampilan-chat-seller .hai-juga-souffle-pancake-nya-saat-ini-tersedia-hanya-25-kotak-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-4 {
  border-radius: 10px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 14px 15.5px 15px 14px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-22 {
  margin: 49px 0 73px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-26 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tampilan-chat-seller .hi-kak-mau-pesan-souffle-pancake-snack-sayur-dan-dessert-coklat-per-masing-masing-jenis-30-ya-kak-kalo-boleh-kirim-secepatnya-kak {
  position: absolute;
  left: 76px;
  top: 50px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-3 {
  position: relative;
  margin: 0 22px 6px 43px;
  display: flex;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-10 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_10.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .nathalia-elleonora {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .bingung-milihnya-kalo-yang-best-seller-apa-ya-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-28 {
  margin: 5px 0 15px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-23 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 47px 5px 0;
  display: flex;
  flex-direction: row;
  padding: 11px 0 10px 11px;
  width: 418px;
  box-sizing: border-box;
}
.tampilan-chat-seller .okekak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container {
  border-radius: 10px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-top: 40px;
  display: flex;
  padding: 13px 17px 15px 10px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-12 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tampilan-chat-seller .okeakan-kami-kirim-secepatnya-ya-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-8 {
  border-radius: 10px;
  border: 1.8px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 2px 0 38px 0;
  display: flex;
  padding: 14px 14.1px 14px 14px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-31 {
  margin: 0 22px 1px 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1215px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ellipse-11 {
  border-radius: 27px;
  background: url('../assets/images/ellipse_11.jpeg') 50% / cover no-repeat;
  margin-right: 11px;
  width: 54px;
  height: 54px;
}
.tampilan-chat-seller .lalice-valerie {
  margin-bottom: 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.tampilan-chat-seller .pie-nya-buahnya-20-kotak-ya-kak-trus-souffle-pancake-nya-15-terakhir-mochi-bites-nya-30-aja-tapi-campur-ya-kak {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.tampilan-chat-seller .container-14 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-25 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 0 26px 19px 0;
  display: flex;
  flex-direction: row;
  padding: 10px 0 11px 11px;
  width: 418px;
  box-sizing: border-box;
}
.tampilan-chat-seller .formkithappy {
  width: 32px;
  height: 32px;
}
.tampilan-chat-seller .vector-16 {
  width: 29px;
  height: 25px;
}
.tampilan-chat-seller .phlink-bold {
  margin: 3.5px 0;
  display: flex;
  width: 29px;
  height: 25px;
  box-sizing: border-box;
}
.tampilan-chat-seller .ketik-pesan {
  margin: 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.tampilan-chat-seller .vector-4 {
  width: 23px;
  height: 30px;
}
.tampilan-chat-seller .phmicrophone-bold {
  margin: 1.5px 0 0.5px 0;
  display: flex;
  width: 23px;
  height: 30px;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-7 {
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 39.5px 13px 11px;
  width: 793px;
  height: fit-content;
  box-sizing: border-box;
}
.tampilan-chat-seller .container-16 {
  margin-left: 43px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.tampilan-chat-seller {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1280px;
  box-sizing: border-box;
}
